<h3>ItemDetailsWindow</h3>

<Form  @onsubmit="() => TryAddItem(newItem)">
    <TextEdit @bind-Text="@newItem.description" Placeholder="enter item name..." />
</Form>

@code {

    List<ItemDetails> popularItems;
    ItemDetails newItem = new ItemDetails();
    string ItemName { get; set; }

    [Parameter]
    public TradeClient tradeClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    async Task TryAddItem(ItemDetails newItem)
    {
        ItemDetails itemToAdd = new ItemDetails { description = newItem.description };
        newItem.description = string.Empty;
        StateHasChanged();

        await tradeClient.AddNewItem(itemToAdd);
    }
}
